.text1 {
  cursor: pointer;

}
#input1,#input1:active {
  background-color: rgb(221, 191, 147);
  border: none;
  min-width: 50px;
}
.text1:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 100%;

  font-weight: 700;
  transition: .1s ease;
}

textarea:focus, input:focus{
  outline: none;
}
.start-now {
  height: 80vh;
  background-color: rgb(221, 191, 147);
  border-radius: 20px;
  padding: 7em 2em 2em 2em;
  margin-top: 80px;
}

select {
  width: auto !important;
  background-color: rgb(221, 191, 147);
  border: none !important;
  -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
  display: none;
}
select:focus {
  outline: none;
}

.hidden-word{
  visibility:hidden;

  max-height: 200px;
  overflow-y: auto;
  border-radius: 7px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 10px;
  background-color: white;
  position:absolute;
  visibility:hidden;
  font-size:11px;
}

.word{
  display:inline-block;
}

.hidden-word-show{
  visibility:visible;
}

ul {
  list-style-type:none;
  padding: 0;
}
li {
  list-style-type:none;
  cursor: pointer;
}
li:hover {
  background-color: antiquewhite;
}
.field-border {
  cursor: pointer;
  border-bottom: 3px solid;
}
.start-now-footer {
  margin-left: 10px;
  margin-bottom: 10px;
}

textarea {
  border: 1px solid rgb(90, 90, 90);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .7s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}